:root {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #39FF14;
}

.main {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: row;
  margin-top: 50px;

}

.sub-main {
  position: relative;
  height: 85vh;
  width: 90vw;
  margin: 16px auto; 
  display: flex;
  justify-content: center; 
}

.edit-mode-holder {
  position: relative;
  top: 30px;
  left: 0px;
  z-index: 10000;

}


@font-face {
  font-family: "MS Sans Serif";
  src: url("pixel-sans-serif.woff") format("woff"); 
}

@font-face {
  font-family: "MS Sans Serif-normal";
  src: url("ms-sans-serif-2.otf.woff2") format("woff"); 
}





