
.content-wrapper {
  position: relative;
  height: 50%;
  width: 60%;
  padding-left: -200px;
}

.content {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}


.overlay {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 600px;
  height: 400px;
  background: rgba(0, 0, 0, 0.6); /* Transparent dark overlay */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  z-index: 2;
}

.content-wrapper:hover .overlay {
  opacity: 1;
}

.overlay-static {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 600px;
  height: 400px;
  background: rgba(0, 0, 0, 0.6); /* Transparent dark overlay */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  z-index: 2;
}